<%= content_tag "div", id: "map-data", data: { token: ENV['MAP_BOX_KEY']} do %>
<% end %>
<div class="row">
  <div id="parks">
  </div>
  <div>
<div id='map'>
</div>

<button id="geolocate">Near Me</button>


