<%= content_tag "div", id: "map-data", data: { token: ENV['MAP_BOX_KEY']} do %>
<% end %>

  <div class= "" id="parks">

  </div>




<div class="big-map" id='map'>
  <button class="waves-effect waves-light" id="geolocate">Near Me</button>
</div>

<div class="row hidden spinner" id="spinner">
  <div class="col s3 offset-s5">
    
    <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-red">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-yellow">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-green">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  </div>  
</div>

<div class="row" id="message">
  <div class="col s12 offset-s4">
    <p id="spy-glass"><i class="fa fa-arrow-left"></i> Click <i class="fa fa-search"></i> to search a specific location!</p>
    <p id="near"><i class="fa fa-arrow-left"></i> Find parks near your current location!</p>
  </div>
</div>


