<%= content_tag "div", id: "map-data", data: { token: ENV['MAP_BOX_KEY']} do %>
<% end %>

  <div class= "" id="parks">

  </div>




<div class="" id='map'>
  <button class="waves-effect waves-light" id="geolocate">Near Me</button>
</div>

<div class="row hidden spinner" id="spinner">
  <div class="col s3 offset-s5">
    
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        
      </div>
    </div>
    
  </div>  
</div>


