<div class="parallax-container">
    <div class="parallax">
   <div id="player"></div>
</div>
      
  

<div class="row">
  <div class="col s4 offset-s5">
  </div>
</div>

<div class="row">
  <div class="col s12 s12m6">
    <button class="waves-effect waves-light btn-large main" id='main-button'><%= link_to "Find a Park", "/maps" %> </button>
  </div>
</div>

</div>

<div class="container">
  <div class="section">

  </div>
</div>
