<div class="parallax-container">
    <div class="parallax">
      <!-- alt video id ab0TSkLe-E0 -->
       <!-- <div class="parallax"><%= image_tag('park3.jpg') %></div> -->
      <iframe id="tubular-player" style="position: absolute; width: 1265px; height: 712px; left: 0px; top: -166.5px;" frameborder="0" allowfullscreen="1" title="YouTube video player" width="1280" height="720" src="http://www.youtube.com/embed/2Tx3wm8mN6g?autoplay=1&controls=0&amp;showinfo=0&amp;modestbranding=1&amp;wmode=transparent&amp;enablejsapi=1&amp;origin=http%3A%2F%2Fwww.seanmccambridge.com"></iframe>

</div>
      
  

<div class="row">
  <div class="col s4 offset-s5">
    <!-- <h1 id="main-header">Park Finder!</h1> -->
  </div>
</div>

<div class="row">
  <div class="col s12 offset-s4">
    <button class="waves-effect waves-light btn-large" id='main-button'><%= link_to "Find a Park", "/maps" %> </button>
  </div>
</div>

</div>

<div class="container">
  <div class="section">

  </div>
</div>
