body{
  // background-image: url(image_path('park.jpg'));
  // background-size: cover;
  // background-repeat: no-repeat;
  // width: 100%;
  // height: 100%;

}

#parks{
  margin-top: 300px;
  position: absolute;
}

.parallax {
  //  height: 800px;
}

.nav {
  background-color: white;
}

#brand-logo {
  // font-family: 'Indie Flower', cursive;
  // font-family: 'Shadows Into Light', cursive;
  margin-left: 20px;
  background-color: rgb(39, 104, 181);
  padding: 8px;
  margin-bottom: 5px;
  font-size: 2em;
}

#map { 
  position:absolute; 
  margin-top: 60px;
  // margin-left: 50px;
  top:0;
  bottom:0; 
  width:100%; 
  }

#main-header {
  // font-family: 'Shadows Into Light', cursive;
  font-family: 'Indie Flower', cursive;
  margin-top: 230px;
  color: rgb(205, 43, 184);
  font-size: 5em;
  font-weight: bolder;
}

#geolocate {
  
  // font-family: 'Indie Flower', cursive;
  // font-family: 'Shadows Into Light', cursive;
  margin-top: 55px;
  font-size: 1.3em;
  // border: 3px solid white;
  margin-left: 45px;
  background-color: white;
  position: absolute;
}

#main-button {
  
  // font-family: 'Indie Flower', cursive;
  // font-family: 'Shadows Into Light', cursive;
  margin-top: 220px;
  font-size: 2em;
  // border: 3px solid white;
  margin-left: 45px;
  background-color: white;
  position: absolute;
}