body{


}

#message {
  position: absolute;
  display: none;
  margin-top: 49px;
  
}

#spy-glass{
  padding: 3px;
  background-color: rgb(49, 124, 157);
  color: white;
  border-radius: 15px;
}

#near {
  padding: 3px;
  background-color: rgb(49, 124, 157);
  color: white;
  border-radius: 15px;
  
}

#spinner {
  // position: absolute;
  // margin-bottom: 200px;
  margin-top: 250px;
  margin-left: 88px;
}

#player{
  position: absolute; 
  width: 100%;
  height: 712px; 
  left: 0px;
  top: -166.5px;
}

.parks {
  overflow-y:scroll; 
  overflow-x:hidden;
  height:600px;
}

#search {
  width: 120%;
  margin-right: 95px;
  color: black;
}

.icecream{
  background-color: rgb(162, 53, 131);
}

.hidden{
  display: none;
}

.parallax {
  //  height: 800px;
}

.nav {
  background-color: white;
}

.park-col {
  width: 280px;
  margin-left: 20px;
}

#tree-logo {
  margin-left: 10px;
  max-width: 56px;
  margin-top: 5px;
}

#brand-logo {
  // font-family: 'Indie Flower', cursive;
  // font-family: 'Shadows Into Light', cursive;
  margin-left: 10px;

  font-size: 2em;

  color: rgb(49, 124, 157);
}


.small-map {
  position:absolute; 
  margin-top: 60px;
  top:0;
  bottom:0; 
  width: 75%;
  margin-left: 25%;
}

.big-map {
  position:absolute; 
  margin-top: 60px;
  top:0;
  bottom:0; 
  width:100%; 
}

#main-header {
  // font-family: 'Shadows Into Light', cursive;
  font-family: 'Indie Flower', cursive;
  margin-top: 230px;
  color: rgb(205, 43, 184);
  font-size: 5em;
  font-weight: bolder;
}


#geolocate {
  
  // font-family: 'Indie Flower', cursive;
  // font-family: 'Shadows Into Light', cursive;
  margin-top: 110px;
  font-size: 1.2em;
  // border: 3px solid white;
  margin-left: 9px;
  background-color: white;
  position: absolute;
}

#main-button {
  
  // font-family: 'Indie Flower', cursive;
  // font-family: 'Shadows Into Light', cursive;
  margin-top: 150px;
  font-size: 2em;
  // border: 3px solid white;
  // margin-left: 45px;
  margin-left: 37%;
  
  background-color: white;
  position: absolute;
  a {
    color: rgb(55, 130, 172);
  }
}


@media screen and (max-width: 600px) {
  #map {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    // display: none;
  }
  
  #main-button {
    font-size: 1em;
  }
  
  #geolocate {
    background-color: rgb(55, 130, 172);
    visibility: visible;
    z-index: -1;
  }
}