<nav class="nav">
  <div class="nav-wrapper">
    <a href="/" id="brand-logo"><%= image_tag "treelogo.png", id: "tree-logo" %>
    Park Finder</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    </ul>
  </div>
</nav>