<nav class="nav">
  <div class="nav-wrapper">
    <a href="/" id="brand-logo">Parks</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <!-- <% if current_page?('/maps') %>
       <li> <button class="waves-effect waves-light btn" id="geolocate">Near Me</button> </li>
       <li> <input id="search" class="searchword" type="search" placeholder="Search Address"> </li> 
       <li> <input type="submit" value="Search "class="btn searchTweet cyan darken-2 "> <li>
    <% end %> -->
    </ul>
  </div>
</nav>